/* Lato font imported from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* these are the global styles that will apply to all files unless changed  */
:root {
  font-family: 'Lato', sans-serif;
  background-color: #f3f3f6; 
  color: #383a68;
}

/* Ensure background color covers the entire page */
html, body {
  height: 100%;  /* Make sure the background applies to the full page */
  background-color: #f3f3f6;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #383a68;
}

body {
  min-width: 320px;
}
